/*
  This stylesheet overrides the default refinery application css
  25-Jun-2011
  Brian Watkins watkinsbrianr@gmail.com
*/

/* THis section contains rules that apply everywhere */

html {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
/* This section contains rules for resume */

#resume h1 {
  color: #F00;
}

#resume h2 {
  color: #0F0;
}

#resume h3 {
  color: #00F
}

#resume h4 {
  color: #FF0;
}

#resume p {
  color: #0FF;
}

#resume li {
  color: #F0F;
}

/* This section contains rules for the menu */

#menu ul {
  padding:3px, 0;
  margin-left: 0;
  bottom-border: 1px solid #778;
  font: bold 12px Verdana, sans-serif;
}

#menu ul li {
  list-style: none;
  margin: 0;
  display: inline;
}

#menu ul li a {
  padding: 3px 0.5em;
  margin-left: 3px;
  border: 1px solid #778;
  border-bottom: none;
  background: #DDE;
  text-decoration: none;
}

#menu ul li a:link {
  color: #448;
}

#menu ul li a:link:hover, #menu ul li a:visited:hover {
  color: #000;
  background: #AAE;
  border-color: #227;
}

#menu ul li a#current {
  background: white;
  border-bottom: 1px solid white;
}

/* This section contains rukes for the gallery, i.e. thumbnails */

#gallery li {
  list-style: none;
  margin: 0;
  display: inline;
  padding: 3px 0.5em;
  margin-left: 3px;
  border-bottom: none;
  text-decoration: none;
}
