<% content_for :body_content_title do %>
<p> </p>
<% end %>
<% content_for :body_content_left do%>
  <div id="rotator" class="rotator">
    <% @page.images.each do |i| %>
      <%= image_tag(i.url, :width => "400",
      :height => "400", :style => "position: absolute; top: 0px; left: 0px;
      z-index: 3; opacity: 0; display: none;") %>
    <% end %>
 </div>
<% end%>
<%= render :partial => "/shared/content_page" %>

<script type="text/javascript">
  $('#rotator').cycle()   
</script>
